@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

$main-font-family: 'Raleway', sans-serif;

$header-base-color: #c6538c;
$header-title-color: #ffffff;

$footer-base-color: #1d1e2c;
$footer-link-color: #ffffff;

$progress-neutral: #ddd;
$progress-weak: #f25f5c;
$progress-medium: #e99a08;
$progress-strong: #70c1b3;

$section-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;